DATABASE_URL=postgres://postgres:password@localhost:5432/medusa
STORE_CORS=http://localhost:3000
ADMIN_CORS=http://localhost:3001
AUTH_CORS=http://localhost:3001
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
